.now-playing-bar__right__inner {
    width: 235px;
}

#get_lyrics {
    width: 40px;
    margin-right: 8px;
    color: #1ed760;
}

.lyrics_padding{
    /*display: grid;*/
    /*grid-template-columns: 4fr 1fr;*/
    padding-right: 400px;

}

#lyrics_container {
	
	/*white-space: pre;*/
	white-space: pre-wrap;

	padding: 100px 28px 130px 28px;
    min-height: 90%;
    color: ghostwhite;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    /*height: 100%;*/
    z-index: 100;
    background-color: rgba(0,0,0,.5);
    overflow: auto;
}

#lyrics_container h1 {
	text-align: center;
	font-size: 36px;
	color: white;
    line-height: 30px;
}

#lyrics_container h3 {
	text-align: center;
	font-size: 20px;
	color: #afb7bd;
	margin-top: -5px;
}

#lyrics_container p {
	font-size: 15px;
}
#lyrics_container p span{
    font-style: italic;
}